{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/css.html' %}
  </head>
  <body>
    <!-- Start Preloader -->
    <div class="preloader">
      <div class="book-style">
        <div class="inner">
          <div class="left"></div>
          <div class="middle"></div>
          <div class="right"></div>
        </div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Header -->

    {% include 'components/base/navbar.html' %}

    <!-- End Header -->
    {% block content %}
      <!-- Start Home Banner -->
      <section class="home-banner hbstyle-2" style="background-image: url(assets/img/bg/banner.jpg);">
        {% include 'components/base/home-banner.html' %}
      </section>
      <!-- End Home Banner -->

      <!-- Start Partners -->
      <section class="container partner-style-2 wow fadeIn">
        <div class="row">
          <div class="col-xl-10 mx-auto partners owl-carousel">
            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/1.svg' %}" alt="client" /></a>
            </div>

            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/2.svg' %}" alt="client" /></a>
            </div>

            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/3.svg' %}" alt="client" /></a>
            </div>

            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/4.svg' %}" alt="client" /></a>
            </div>

            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/5.svg' %}" alt="client" /></a>
            </div>

            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/1.svg' %}" alt="client" /></a>
            </div>

            <div class="client-item">
              <a href="#"><img src="{% static 'assets/img/partners/dark/2.svg' %}" alt="client" /></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Partners -->

      <!-- Start Courses -->

      <br />
      <br />

      <!-- Start Review -->
      {% comment %} <section class="review section-padding">
        {% include 'components/base/students-says.html' %}
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section> {% endcomment %}
      <!-- Start Review -->

      <!-- End Cta -->
    {% endblock %}
    <br />
    <br />
    <!-- Start Footer -->
    <section class="footer fstyle-2">
      {% include 'components/base/footer.html' %}
    </section>
    <!-- End Footer -->

    <!-- scripts js -->
    {% include 'components/js.html' %}

    <script src="{% static 'assets/js/scripts.js' %}"></script>
  </body>
</html>
